/* html {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
  margin: 0 auto;
  background-color:  #FBF9EC;
  font-family: 'Palanquin Dark', sans-serif;
}

header {
  padding-top: 2px;
  background-color:  #D7826F;
  color: white;
}


a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  background: #ff5252;
  padding: 10px;
}


h1 {
    font-size: 42px;
    text-transform: capitalize; 
    text-align: center;
    line-height: 30%; 
}

h2 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
    font-style: italic;
    
}

img {
    margin-left: auto;
    display: block;
    margin-right: auto;
    width: 35%;

}

#image-container {
    text-align: center;
}

p {
    font-size: 22px;
}

label {
    font-size: 22px;
}

/* ------------------------------------ FORM CSS -------------------------------------------- */

/* .container {
    width: 406px;
    max-width: 406px; */
    /* margin-left: 140px;
    margin-top: 60px; */
    /* margin: 0 auto;
    margin-bottom: 20px;
} */

#signup {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
    margin: 0 auto;
}



#signup .sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0px -25px;
}

#signup .inputs {
    margin-top: 25px;
}

#signup .inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

#signup .inputs input[type=email], input[type=password] {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

#signup .inputs input[type=email]:focus, input[type=password]:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;   
}


#signup .inputs #submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: #D7826F;
    background: #D7826F;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid#ffda79;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

#submit1 {
    background: #D7826F;
    padding-left: 10px;
}

#submit2 {
    background: #D7826F;
    padding-left: 10px;
}