body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #FAE9E6;
}

.headerh1 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 80px;
    color: white;
}

p {
    font-size: 40px;
}

header {
    width: 100vw;
    background-color: #D7826F;
    height: 87px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 89px;
}

button {
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
}

.headerLeftDiv {
    display: flex;
}

.headerRightDiv, .headerLeftDiv {
    width: 350px;
}

.logoutBtn {
    margin-bottom: 10px;
    font-size: 35px;
    margin: 9px;
    height: 70px;
    float: right;
    margin-right: 20px;
    padding: 13px;
}

.tutorialBtn {
    font-size: 35px;
    margin: 9px;
    height: 70px;
    padding: 13px;
}

.firstABtn {
    font-size: 30px;
    margin: 9px;
    height: 70px;
    width: 65px;
    margin-left: 31px;
}

.secondABtn {
    /* margin-bottom: 10px; */
    /* position: relative; */
    /* left: 86vw; */
    /* bottom: 70px; */
    font-size: 50px;
    /* margin: 14px; */
    margin: 9px;
    height: 70px;
    width: 65px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageBtn {
    width: 60vw;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 44px;
    background-color: #3B79A6;
    color: white;
    height: 74px;
    border-radius: 12px;
    border-color: transparent;
}

.messageContainer {
    border: 1px solid black;
    width: 60vw;
    background-color: white;
}

.messageContainer, .messageContainer > * { 
    text-align: center;
    margin: 10px;
}

.pDiv, .vidDiv, .imgDiv {
    border: 1px solid black;
    padding: 10px;
}

.fromP {
    text-align: left;
}

img {
    width: 100%;
}

.upArrow {
    width: 113px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 115px;
    right: 20px;
}

.downArrow {
    width: 113px;
    transform: rotate(90deg);
    position: absolute;
    bottom: 10px;
    right: 20px;
}


/* Below videoWrapper rules taken from: https://css-tricks.com/fluid-width-video/ */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 23px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    /* display: flex;
    flex-direction: column; */
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 58px;
    font-weight: bold;
    line-height: 40px;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalWrapper {
    width: 98%;
    display: flex;
    flex-direction: column;
}

.modalTopRow {
    display: flex;
    justify-content: space-between;
}

.modalTopP {
    margin-top: 0px;
    margin-bottom: 8px;
    /* margin-left: 22px; */
}

/* .inputsDiv {
    display: flex;
    flex-direction: column;
} */

.modalMidRow {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}

.modalMidRow button {
    width: 32%;
    height: 72px;
    color: white;
    font-size: 18px;
}

.videoBtn {
    background-color: #D7826F;
}

.imageBtn {
    background-color: #D7826F;
}

.linkBtn {
    background-color: #D7826F;
}

.modalBottomRow {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.modalBottomRow button {
    width: 32%;
    height: 72px;
    color: white;
    font-size: 23px;
}


.cancelBtn {
    background-color: #404040;
}

.sendBtn {
    background-color: #3B79A6;
}

label {
    display: flex;
    justify-content: space-between;
    margin: 7px;
    font-size: 60px;
}

input {
    width: 50vw;
    height: 100px;
    margin: 7px;
    font-size: 50px;
}

textarea {
    font-size: 30px;
    width: 100%;
    margin: 0px auto;
    resize: none;
    border-radius: 5px;
}