body {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    margin: 0;
    background-color: #FAE9E6;
    font-family: 'Palanquin', sans-serif;
}

.headerh1 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 80px;
    color: white;
    font-family: 'Palanquin Dark', sans-serif;
    line-height: 68px;
}

p {
    font-size: 40px;
}

header {
    width: 100vw;
    background-color: #D7826F;
    height: 87px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 89px;
}

button {
    border-radius: 5px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerLeftDiv {
    display: flex;
}

.fontDownTriangle {
    width: 20px;
    transform: rotate(180deg);
}

.fontUpTriangle {
    width: 20px;
    position: relative;
    top: 12px;
}

.headerRightDiv, .headerLeftDiv {
    width: 350px;
}

.logoutBtn {
    margin-bottom: 10px;
    font-size: 35px;
    margin: 9px;
    height: 70px;
    float: right;
    margin-right: 20px;
    padding: 13px;
}

.tutorialBtn {
    font-size: 35px;
    margin: 9px;
    height: 70px;
    padding: 13px;
}

.firstABtn {
    font-size: 30px;
    margin: 9px;
    height: 70px;
    width: 65px;
    margin-left: 31px;
    display: flex;
    justify-content: center;
}

.secondABtn {
    font-size: 50px;
    margin: 9px;
    height: 70px;
    width: 65px;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageBtn {
    width: 50vw;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 44px;
    background-color: #3B79A6;
    color: white;
    height: 74px;
    border-radius: 12px;
    border-color: transparent;
}

.messageContainer {
    width: 50vw;
}

.messageContainer, .messageContainer > * { 
    text-align: center;
    margin: 10px;
}

.circleImg {
    width: 100%;
    height: auto;
}

.messageDiv {
    display: flex;
    padding: 12px
}

.pDiv, .vidDiv, .imgDiv {
    padding: 10px;
    background-color: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

.fromP {
    text-align: left;
    margin: 0;
    line-height: 30px;
    font-weight: bold;
    color: #3B79A6;
}

.pMessage {
    margin: 0;
    text-align: left;
    line-height: 49px;
    margin-top: 16px;
}

.pTagsDiv {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.pLeftAlign {
    text-align: left;
    padding: 15px;
    margin-top: 0;
}

.picDiv {
    max-width: 88px;
    min-width: 88px;
}

img {
    width: 100%;
}

.upArrow {
    width: 53px;
    position: sticky;
    bottom: 115px;
    left: 93%;
}

.downArrow {
    width: 53px;
    position: sticky;
    bottom: 35px;
    left: 93%;
}


/* Below videoWrapper rules taken from: https://css-tricks.com/fluid-width-video/ */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 6% auto; /* 15% from the top and centered */
    padding: 23px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    /* display: flex;
    flex-direction: column; */
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 58px;
    font-weight: bold;
    line-height: 40px;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalWrapper {
    width: 98%;
    display: flex;
    flex-direction: column;
}

.modalTopRow {
    display: flex;
    justify-content: space-between;
}

.modalTopP {
    margin-top: 0px;
    margin-bottom: 8px;
    /* margin-left: 22px; */
}

/* .inputsDiv {
    display: flex;
    flex-direction: column;
} */

.modalMidRow {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}

.modalMidRow button {
    width: 32%;
    height: 100px;
    color: white;
    font-size: 31px;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D7826F;
    justify-content: space-evenly;
}

.buttonImg {
    width: 45px;
    margin-top: 5px;
}

/* .videoBtn {
}

.imageBtn {
    background-color: #D7826F;
}

.linkBtn {
    background-color: #D7826F;
} */

.modalBottomRow {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.modalBottomRow button {
    width: 32%;
    height: 100px;
    color: white;
    font-size: 31px;
    border-color: transparent;
}


.cancelBtn {
    background-color: #404040;
}

.sendBtn {
    background-color: #3B79A6;
}

label {
    display: flex;
    justify-content: space-between;
    margin: 7px;
    font-size: 60px;
}

input {
    width: 50vw;
    height: 100px;
    margin: 7px;
    font-size: 50px;
}

textarea {
    font-size: 30px;
    width: 100%;
    margin: 0px auto;
    resize: none;
    border-radius: 5px;
    padding: 10px;
}

.modal-content2 {
    background-color: #fefefe;
    margin: 7px auto; /* 15% from the top and centered */
    padding: 23px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    /* display: flex;
    flex-direction: column; */
}

.tutorial1Img {
    height: 350px;
    width: auto;
    margin-left: 62px;
}

.tutorial2Img, .tutorial3Img, .tutorial4Img, .tutorial5Img {
    display: none;
    height: 350px;
    width: auto;
    margin-left: 62px;
}

#next2, #next3, #next4, #next5 {
    display: none;
}

.headerMobile, .bottomControls {
    display: none;
}

@media (max-width: 870px) {
    .messageBtn {
        width: 90vw;
    }
    
    .messageContainer {
        width: 90vw;
    }

    .upArrow {
        display: none;
    }

    .downArrow {
        display: none;
    }

    header {
        display: none;
    }

    .headerMobile {
        display: block;
        background-color: #D7826F;
        height: 87px;
        z-index: 1;
    }

    .bottomControls {
        height: 100px;
        background-color: #3B79A6;
        color: white;
        display: flex;
        justify-content: space-between;
        position: sticky;
        width: 100%;
        bottom: 0;
    }

    .bottomADiv {
        display: flex;
    }

    .hamburgerIcon {
        padding-top: 10px;
    }
}